<script setup lang="ts">
import CancelAppointment from "@/components/AppointmentManagement/CancelAppointment.vue";

const props = defineProps<{
  id: string;
  token: string;
}>();
</script>

<template>
  <CancelAppointment :id="props.id" :token="props.token" />
</template>
