<script setup lang="ts">
import ConfirmAppointment from "@/components/AppointmentManagement/ConfirmAppointment.vue";

const props = defineProps<{
  id: string;
  token: string;
}>();
</script>

<template>
  <ConfirmAppointment :id="props.id" :token="props.token" />
</template>
