<template>

  <div style="position: relative; width: 100%; height: 100%">

    <div class="control">
      <q-btn
          class="location"
          :icon="getIcon()"
          fab
          color="white"
          :text-color="getColor()"
          @click="center"/>
    </div>
    <div class="container">
      <div id="map"></div>
    </div>
  </div>

</template>

<script setup lang="ts">
import L, {Marker} from "leaflet"
import {onMounted, reactive, watch} from "vue";
import {RestaurantService} from "@/services/RestaurantService";
import type {RestaurantSearchFilter} from "@/models/RestaurantSearchFilter";
import type {Restaurant} from "@/models/Restaurant";
import {createRestaurantTypesTemplate} from "@/models/RestaurantSearchFilter";
import router from "@/router";
import type {LocationModel} from "@/models/LocationModel";
import _ from "lodash";

const props = defineProps({
  restaurants: {
    type: Object as () => Restaurant[],
    required: true
  },
  location: {
    type: Object as () => LocationModel,
    default: {
      disabled: false,
      distance: 0
    }
  }
})

const data = reactive<{
  zoom: number,
  location: {
    icon: "location_searching" | "gps_fixed" | "location_disabled",
    color: "gray" | "primary"
  }
}>({
  zoom: 0,
  location: {
    icon: "location_disabled",
    color: "gray"
  }
})

const emit = defineEmits<{
  (e: "center"): void,
  (e: "update:location", location: LocationModel): void
}>()

let markers: L.FeatureGroup;
let map: L.Map;
let movedMapManually = false;

onMounted(() => {

  map = L.map('map')
  map.setView([48.264873336619175, 11.671427818929685], 13)

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
  }).addTo(map);

  map.on("moveend", (event: any) => {
    let center = map.getCenter()
    // filter.latitude = center.lat
    // filter.longitude = center.lng

    let top: L.LatLngTuple = [map.getBounds().getNorth(), center.lng]
    let right: L.LatLngTuple = [center.lat, map.getBounds().getEast()];

    let dX = center.distanceTo(right)
    let dY = center.distanceTo(top)

    if(movedMapManually){
      movedMapManually = false;
    }else{

      emitLocationUpdate({
        coords: [map.getCenter().lat, map.getCenter().lng],
        disabled: props.location?.disabled,
        distance: Math.max(dX, dY) / 1000
      })
    }
  })

  watch(() => props.restaurants, async () => {
    reloadMarkers()
  }, { deep: true })

  watch(() => props.location, async (newLocation, oldLocation) => {
    movedMapManually = true;
    if(newLocation?.coords)
      map.setView(newLocation?.coords )
  }, { deep: true })

})

const emitLocationUpdate = _.debounce((location: LocationModel) => {
  emit("update:location", location)
}, 700)

async function center(){
  emit("center");
}

function getIcon(): "location_searching" | "gps_fixed" | "location_disabled"{
  if(!props.location?.coords){
    return "location_searching";
  }else{
    return "gps_fixed"
  }
}

function getColor(): "gray" | "primary"{
  if(!props.location?.coords){
    return "gray";
  }else{
    return "primary"
  }
}

function reloadMarkers(){
  if(markers){
    markers.clearLayers()
  }
  markers = new L.FeatureGroup();
  for(let restaurant of props.restaurants){
    addMarker(restaurant)
  }

  markers.addTo(map)
}

function addMarker(restaurant: Restaurant){
  let marker = L.marker([restaurant.position.coordinates[1], restaurant.position.coordinates[0]])
  marker.on("click", event => {
    router.push("/reserve/" + restaurant.id)
  })
  markers.addLayer(marker)
}




</script>

<style scoped lang="sass">

.container
  position: relative
  display: block
  width: 100%
  height: 100%
  #map
    width: 100%
    height: 100%
    position: relative
    z-index: 0
.control
  position: absolute
  width: 100%
  height: 100%
  z-index: 100
  pointer-events: none
  *
    pointer-events: auto
  .location
    position: absolute
    bottom: 252px
    right: 32px


</style>
