<template>
  <div class="main-grid">

    <div class="grid-left">
      <p class="text-h6">{{ data.total }} Restaurant{{ data.total === 1 ? "" : "s" }}</p>

      <q-btn-toggle
          v-model="data.view"
          style="border: 1px solid #c2c2c2"
          spread
          flat
          no-caps
          unelevated
          toggle-color="primary"
          :options="[{label:'List', value: 'list', icon:'list'}, {label: 'Map (Beta)', value: 'map', icon: 'map'}]"/>
      <br>
      <div class="location" v-if="data.view === 'list'">
        <br>
        <q-input
            label="Address"
            v-model="data.filter.address"
            outlined
            debounce="150"/>
        <br>
        <p class="text-h6">Radius</p>
        <div style="display: flex; align-items: center; margin: 40px 5px 0;">
          <!--       g <q-icon name="radar" size="22px" style="margin: 0 10px; text-align: center; margin-right: 10px;"></q-icon>-->
          <q-slider
              style="margin: 0 0px"
              v-model="data.filterWatch.distance"
              :min="0"
              :max="5"
              :step="1"
              snap
              label
              label-always
              markers
              :marker-labels="radius"
              :label-value="radiusLabel[data.filterWatch.distance]"
          />
          <br>
        </div>
        <q-separator/>
      </div>
      <br>
      <div style="display: flex; justify-content: space-between; align-items: center">
        <p class="text-h6">Open today</p>
        <q-toggle style="margin-bottom: 16px" v-model="data.filter.openToday" debounce="200"/>
      </div>
      <p class="text-h6">Price Level</p>
      <q-btn-toggle
          style="border: 1px solid #c2c2c2"
          v-model="data.filter.priceLevel"
          no-caps
          unelevated
          toggle-color="primary"
          :options="[
          {label: '?', value: undefined},
          {label: '€', value: RestaurantPriceLevel.LOW},
          {label: '€€', value: RestaurantPriceLevel.MEDIUM},
          {label: '€€€', value: RestaurantPriceLevel.HIGH}
      ]" />
      <br><br>
      <p class="text-h6">Rating</p>
      <q-rating
          v-model="data.filter.ratingMin"
          size="md"
          style="text-shadow: none !important"
          color="orange"
          icon="star_outline"
          icon-selected="star"
          no-dimming
      />

      <span style="margin-left: 10px" v-if="data.filter.ratingMin > 0">{{data.filter.ratingMin}} / 5</span>
    </div>

    <div class="grid-center">
      <div class="search">
        <q-input
            v-model="data.filter.name"
            outlined
            class="input"
            label="Search restaurant"
            debounce="150">
          <q-btn class="left-sheet-toggle" @click="filterOpened = !filterOpened" icon="filter_list" flat/>
        </q-input>

        <div class="restaurant-types">
          <q-chip
              v-for="type of RestaurantType"
              style="user-select: none"
              v-model:selected="data.filter.restaurantType[type]">{{Language.restaurantType(type)}}</q-chip>
        </div>

      </div>
      <div class="list-view" :class="{'with-map': data.view === 'map'}" >
        <div class="restaurants">
          <q-card
              class="restaurant"
              v-for="(restaurant, index) in data.restaurants"
              @click="onRestaurantClicked(restaurant)"
              flat
              bordered
              :key="index">

            <q-card-section :horizontal="data.view === 'map'" style="padding: 0 !important;">
              <q-img
                  class="picture"
                  fit="cover"
                  :src="imagePath(restaurant)"
              />

              <q-card-section>

                <q-card-section style="padding: 0">
                  <div class="text-h6">{{ restaurant.name }}</div>
                  <div class="rating-container">
                    <q-rating

                        v-model="restaurant.averageRating"
                        max="5"
                        color="orange"
                  size="xs"
                        icon="star_outline"
                  icon-selected="star"
                  icon-half="star_half"
                        no-dimming
                  readonly
                    />
                    <span
                        class="rating"
                        :class="{ inactive: restaurant.averageRating <= 0 }"
                    >{{ rating(restaurant.averageRating) }}</span>
                  </div>
                  <div class="text-subtitle">
                    <span class="price">{{priceLevelText(restaurant.priceLevel) }}</span>
                    <span class="divider">|</span>
                    <span class="type">{{
                        Language.restaurantType(restaurant.restaurantType)
                      }}</span>
                  </div>
                  <br />
                  <i class="address">{{ restaurant.address }}</i>
                </q-card-section>

                <q-separator vertical></q-separator>
                <q-card-actions align="right">
                  <q-btn
                      flat
                      icon="event"
                      label="place reservation"
                      :to="'/reserve/' + restaurant.id"
                  />
                </q-card-actions>

              </q-card-section>

            </q-card-section>
          </q-card>

        </div>
        <div style="display: flex; justify-content: center">
          <q-btn
              class="loading"
              label="Load more"
              flat
              color="primary"
              @click="nextPage"
              style="margin: 20px 0"
              :loading="data.loadingPage"
              v-if="!data.lastPage && data.view !== 'map'"/>
        </div>
      </div>
      <div class="map-view" v-if="data.view === 'map'">
        <RestaurantMapView :restaurants="data.restaurants" v-model:location="data.location" @center="requestCenter"/>
      </div>
    </div>

  </div>
</template>

<script setup lang="ts">
import {onMounted, reactive, watch} from "vue";
import type {Restaurant} from "@/models/Restaurant";
import {Language} from "@/services/Language";
import {RestaurantService} from "@/services/RestaurantService";
import {Environment} from "@/Environment";
import {SideSheetService} from "@/services/SideSheetService";
import type {RestaurantSearchFilter} from "@/models/RestaurantSearchFilter";
import {createRestaurantTypesTemplate} from "@/models/RestaurantSearchFilter";
import {RestaurantPriceLevel} from "@/models/RestaurantPriceLevel";
import {RestaurantType} from "@/models/RestaurantType";
import RestaurantMapView from "@/views/RestaurantMapView.vue";
import type {LocationModel} from "@/models/LocationModel";
import _ from "lodash";
import router from "@/router";

const data = reactive<DataModel>({
  restaurants: [],
  showFilterOptions: false,
  filter: {
    ratingMin: 0,
    name: "",
    distance: 4,
    restaurantType: createRestaurantTypesTemplate()
  },
  filterWatch: {
    distance: 4
  },
  currentPage: -1,
  loadingPage: false,
  lastPage: false,
  total: 0,
  view: "list",
  location: {
    coords: undefined,
    disabled: false,
    distance: -1
  },
});

let lockWatcher = false;


const radius = [
  { value: 0, label: "1" },
  { value: 1, label: "3" },
  { value: 2, label: "5" },
  { value: 3, label: "10" },
  { value: 4, label: "20" },
  { value: 5, label: "50" },
];

const radiusLabel = radius.map(r => r.label + " km")

const filterOpened = SideSheetService.leftSheetOpen;

const emit = defineEmits<{
  (e: "clicked", restaurantId: string): void;
}>();


onMounted(async () => {
  if(data.restaurants.length > 0){
    data.location.coords = [
      data.restaurants[0].position.coordinates[1],
      data.restaurants[0].position.coordinates[0]
    ]
  }

  watch(() => data.view, async () => {
    lockWatcher = true;
    console.log("Locked")
    data.filter.address = ""
    lockWatcher = false;
    if(data.view === "map"){
      await requestCenter()
    }
  })

  watch(data.filterWatch, async() => {
    if(lockWatcher) return
    data.location.distance = -1;
    data.filter.distance = data.filterWatch.distance;
    await reloadRestaurants();
  })

  watch(data.filter, async (newFilter, oldFilter) => {
    if(lockWatcher) return
    if(newFilter.latitude != oldFilter.latitude || newFilter.longitude != oldFilter.longitude || newFilter.distance != oldFilter.distance)
      return;
    await reloadRestaurants()
  });

  watch(() => data.location, async () => {
    await reloadRestaurants();
  }, { deep: true })

  try{
    await requestCenter();
  }catch (e){
    data.loadingPage = false
    await nextPage()
  }
})

async function nextPage(){
  if(data.loadingPage || data.lastPage) return;
  data.loadingPage = true;
  data.currentPage++;
  if(data.location.coords){
    data.filter.latitude = data.location.coords[0]
    data.filter.longitude = data.location.coords[1]
    if(data.location.distance > -1){
      let i = 0;
      for(; i < radius.length; i++){
        if(data.location.distance <= parseInt(radius[i].label)){
          break;
        }
      }
      data.filter.distance = i;
    }
  }
  let result = await RestaurantService.queryRestaurantList(data.filter, data.currentPage)
  data.restaurants = data.restaurants.concat(result.content)
  data.lastPage = result.last
  data.total = result.totalElements
  data.loadingPage = false;
}

const reloadRestaurants = _.debounce(async () => {
  data.restaurants = [];
  data.currentPage = -1;
  data.lastPage = false;
  data.total = 0;
  await nextPage()
}, 200)

async function requestCenter(){
  return new Promise<void>((resolve, reject) => {
    data.loadingPage = true;
    navigator.geolocation.getCurrentPosition(async (pos) => {
      data.location.coords = [pos.coords.latitude, pos.coords.longitude]
      data.filter.latitude = pos.coords.latitude;
      data.filter.longitude = pos.coords.longitude;
      data.loadingPage = false;
      await reloadRestaurants()
      resolve()
    }, err => {
      reject(err);
    }, {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    })
  })
}

function onRestaurantClicked(restaurant: Restaurant) {
  router.push("/reserve/" + restaurant.id)
}

function imagePath(restaurant: Restaurant): string {
  return Environment.baseUrl + "/restaurant/" + restaurant.id + "/image";
}

function rating(rating: number): string {
  if (rating <= 0) return "No ratings";
  else return rating + " / 5";
}

function priceLevelText(priceLevel: RestaurantPriceLevel): string {
  switch (priceLevel){
    case RestaurantPriceLevel.LOW: return "€";
    case RestaurantPriceLevel.MEDIUM: return "€€";
    case RestaurantPriceLevel.HIGH: return "€€€";
    default: return "?";
  }
}


interface DataModel {
  restaurants: Array<Restaurant>;
  showFilterOptions: boolean;
  filter: RestaurantSearchFilter,
  currentPage: number,
  loadingPage: boolean,
  lastPage: boolean,
  total: number,
  view: "list" | "map",
  location: LocationModel,
  filterWatch: {
      distance: number,
  }
}
</script>

<style scoped lang="sass">

.main-grid
  height: calc(100vh - 70px)

.grid-left
  height: 100%
  border-right: 1px solid #e1e1e1

.grid-center
  padding: 0
  height: calc(100vh - 60px)
  display: flex
  flex-direction: column
  .list-view
    padding: 16px
    z-index: 1000
    &.with-map
      position: absolute
      padding: 0
      height: 230px
      width: 100%
      bottom: 0
  .map-view
    height: calc(100% - 70px)
    width: 100%
    position: relative

.restaurants
  display: flex
  flex-wrap: wrap


.restaurant
  min-width: 300px
  margin-bottom: 12px
  width: calc(50% - 6px)
  cursor: pointer
  padding: 0
  &:nth-child(2n + 1)
    margin-right: 6px
  &:nth-child(2n)
    margin-left: 6px
  & > .q-card__section
    padding: 0

  @media (max-width: 650px)
    min-width: auto
    margin-right: 0 !important
    width: 100%

.restaurant-types
  margin-top: 10px


.divider
  display: inline-block
  margin: 0 10px


.picture
  width: 100%
  height: 200px
  background-position: center
  background-size: cover
  border-radius: 4px
  margin-right: 20px
  flex-shrink: 0

.rating-container
  display: flex
  align-items: center
  margin-bottom: 8px
  .rating
    display: inline-block
    margin-left: 10px


.search
  display: block
  padding: 16px 16px 16px
  position: relative
  z-index: 10
    left: -100%
  .input
    width: 100%
    .q-field__label
      padding-left: 20px



input
  outline: none
  border: none
  padding: 20px 10px
  width: 100%


.inactive
  opacity: 0.5
  font-style: italic


.with-map .restaurants
  flex-direction: column
  height: 100%
  width: 100%
  overflow-x: auto
  overflow-y: hidden
  padding: 0 15px 10px
  .restaurant
    width: 500px
    height: 100%
    margin: 0 5px
    & > .q-card__section
      height: 100%
    .picture
      width: 200px
      height: auto
      margin-right: 0

</style>
