<script setup lang="ts">
import RestaurantDetail from "@/components/RestaurantDetailComponents/RestaurantDetail.vue";

const props = defineProps({
  restaurantId: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <RestaurantDetail :restaurant-id="props.restaurantId"></RestaurantDetail>
</template>
