<script setup lang="ts">
import { useCancelAppointment } from "@/services/AppointmentManager";

const props = defineProps<{
  id: string;
  token: string;
}>();

const { message, working, cancel } = useCancelAppointment(
  props.id,
  props.token
);
</script>

<template>
  <div class="q-pa-md grid">
    <div class="row justify-center q-gutter-md">
      <div class="text-body text-center col-12">
        Do you wish to cancel your appointment? This action can not be undone.
      </div>
      <q-btn no-caps @click="cancel" :loading="working">Cancel</q-btn>
      <div v-if="message" class="text-body text-center col-12">
        {{ message }}
      </div>
    </div>
  </div>
</template>
