<script setup lang="ts">
import { useConfirmAppointment } from "@/services/AppointmentManager";

const props = defineProps<{
  id: string;
  token: string;
}>();

const { message, working, confirm } = useConfirmAppointment(
  props.id,
  props.token
);
confirm();
</script>

<template>
  <div class="flex justify-center">
    <div v-if="working" class="row text-body">
      Confirming your appointment...
      <q-spinner size="sm" color="primary" />
    </div>
    <div v-else class="text-body text-center">
      {{ message }}
    </div>
  </div>
</template>
