<script setup lang="ts">
import { ref } from "vue";
import {
  ISOStringToDateString,
  ISOStringToTimeString,
} from "@/services/TimeslotService";
import { useReserve } from "@/services/ContactFormService";
import type { Restaurant } from "@/models/Restaurant";

const props = defineProps<{
  party: number;
  datetime: string;
  table: number;
  info: Restaurant;
  close: () => void;
}>();

const email = ref("");
const fullName = ref("");

const emailRegex =
  // eslint-disable-next-line no-control-regex
  /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;

const { message, working, success, tryReserve } = useReserve(
  fullName,
  email,
  props.datetime,
  props.party,
  props.info.id,
  props.table
);
</script>

<template>
  <q-card class="full-width">
    <q-card-section style="padding-bottom: 0 !important">
      <div>
        <div class="flex justify-end" style="postion: relative; z-index: 1">
          <q-btn @click="close" icon="close" round flat />
        </div>
        <div style="position: relative; top: -2em; z-index: 0">
          <div class="text-h4 text-center">Your Reservation</div>
          <div class="text-h5 text-center">{{ info.name }}</div>
        </div>
      </div>
    </q-card-section>
    <q-form class="grid q-pa-lg q-gutter-y-lg" @submit="tryReserve">
      <div v-if="message">
        <div class="text-h5 text-center text-primary">
          {{ message }}
        </div>
        <div class="text-body text-dark text-center">
          You will receive a confirmation email shortly.
        </div>
      </div>
      <q-input
        v-model="fullName"
        for="fullName"
        label="Full Name"
        outlined
        :rules="[(val) => val != '']"
        :lazy-rules="true"
        error-message="Name required"
        :no-error-icon="true"
      />
      <q-input
        v-model="email"
        for="email"
        label="E-Mail"
        outlined
        :rules="[(val) => emailRegex.test(val)]"
        :lazy-rules="true"
        error-message="E-Mail is invalid"
        :no-error-icon="true"
      />
      <div class="text-h6">Reservation info</div>
      <div>
        <div class="text-caption text-grey">Restaurant</div>
        <div class="text-body1">{{ props.info.name }}</div>
      </div>
      <div>
        <div class="text-caption text-grey">Party</div>
        <div class="text-body1">{{ props.party }}</div>
      </div>
      <div>
        <div class="text-caption text-grey">Time</div>
        <div class="text-body1">
          {{ ISOStringToTimeString(props.datetime) }}
        </div>
      </div>
      <div>
        <div class="text-caption text-grey">Date</div>
        <div class="text-body1">
          {{ ISOStringToDateString(props.datetime) }}
        </div>
      </div>
      <div class="row justify-center">
        <q-btn
          type="submit"
          no-caps
          label="Reserve"
          color="primary"
          size="lg"
          :loading="working"
          :disable="success"
        ></q-btn>
      </div>
    </q-form>
  </q-card>
</template>
