<script setup lang="ts">
import { useRestaurantImage } from "@/services/RestaurantDetailService";

const props = defineProps({
  id: {
    required: true,
    type: String,
  },
  height: {
    required: false,
    type: Number,
    default: 20,
  },
});
const { imageUrl, error } = useRestaurantImage(props.id);
</script>

<template>
  <div :style="'height: ' + props.height + 'em width=100%'">
    <div v-if="error">{{ error }}</div>
    <q-img
      v-else-if="imageUrl"
      :src="imageUrl"
      :style="'height: ' + props.height + 'em'"
    />
    <q-spinner v-else color="primary" size="6em" />
  </div>
</template>
