<script setup lang="ts">
import type { Restaurant } from "@/models/Restaurant";
import { getPriceAsNumber } from "@/services/RestaurantDetailService";
import { ref } from "vue";
import RestaurantContactEntry from "./RestaurantContactEntry.vue";

const props = defineProps<{
  info: Restaurant;
}>();
let rating = ref(props.info.averageRating);
</script>

<template>
  <q-card-section>
    <!-- Restaurant name -->
    <div class="text-h4 q-mt-sm q-mb-xs">{{ props.info.name }}</div>
    <!-- Restaurant rating and price-->
    <div class="row items-center q-gutter-sm">
      <!-- Rating -->
      <div class="text-grey">
        {{ Math.round(props.info.averageRating * 10) / 10 }}
      </div>
      <div style="margin-bottom: 3px">
        <q-rating
          v-model="rating"
          max="5"
          color="orange"
          size="xs"
          icon="star_outline"
          icon-selected="star"
          icon-half="star_half"
          no-dimming
          readonly
        />
      </div>
      <!-- Price -->
      <div class="text-grey">|</div>
      <div class="row items-center" style="margin-bottom: 3px">
        <q-icon
          name="euro_symbol"
          color="grey"
          v-for="n in getPriceAsNumber(props.info.priceLevel)"
          :key="'euro-' + n"
        />
      </div>
    </div>
    <!-- Cuisine Type -->
    <div class="text-grey">
      {{
        props.info.restaurantType.charAt(0).toUpperCase() +
        props.info.restaurantType.slice(1).toLowerCase()
      }}
      restaurant
    </div>
  </q-card-section>
  <q-separator />
  <!-- Restaurant description -->
  <q-card-section>
    <div class="grid q-gutter-y-sm">
      <div class="text-h6">Opening Times</div>
      <div class="row justify-left text-body1">
        <div
          v-for="hours in props.info.openingHours"
          :key="hours.dayOfWeek"
          class="col-xs-10 col-sm-6"
        >
          <div class="row">
            <div class="col-xs-6 col-md-4 col-lg-3">
              {{
                hours.dayOfWeek.charAt(0) +
                hours.dayOfWeek.slice(1).toLowerCase() +
                ": "
              }}
            </div>
            <div class="col-6">
              {{
                hours.openingTime.substring(0, 5) +
                " - " +
                hours.closingTime.substring(0, 5)
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-card-section>
  <q-separator />
  <!-- Contact info -->
  <q-card-section>
    <div class="grid q-gutter-y-sm">
      <div class="text-h6">Contact</div>
      <RestaurantContactEntry icon="phone" :text="props.info.phoneNumber" />
      <RestaurantContactEntry
        icon="public"
        :text="props.info.website"
        :link="props.info.website"
      />
      <RestaurantContactEntry icon="place" :text="props.info.address" />
    </div>
  </q-card-section>
</template>
