<script setup lang="ts">
import { useRestaurantDetail } from "@/services/RestaurantDetailService";
import TimeslotSelector from "./TimeslotSelector.vue";
import RestaurantDetailImage from "./RestaurantDetailImage.vue";
import RestaurantDetailList from "./RestaurantDetailList.vue";
import RestaurantRatings from "./RestaurantRatings.vue";

const props = defineProps({
  restaurantId: {
    required: true,
    type: String,
  },
});

const { info, error } = useRestaurantDetail(props.restaurantId);
</script>

<template>
  <!-- TODO: replace this with the css/sass implementation -->
  <div class="row justify-center">
    <div class="col col-sm-12 col-md-8 col-lg-6 q-pa-md">
      <!-- network request has failed -->
      <div v-if="error" class="text-h6">{{ error }}</div>

      <!-- content has successfully loaded -->
      <div v-else-if="info">
        <!-- content not available -->
        <div v-if="info == undefined" class="text-h6 row items-center">
          <q-icon name="error" color="red" size="sm" :left="true" />
          Could not find a restaurant with this ID.
        </div>

        <!-- content available -->
        <q-card v-else flat bordered>
          <!-- Restaurant image -->
          <RestaurantDetailImage :id="props.restaurantId" />
          <!-- Restaurant info section -->
          <RestaurantDetailList :info="info" />
          <q-separator />
          <!-- Reservation section -->
          <q-card-section>
            <div class="text-h6">Reserve</div>
            <TimeslotSelector :info="info"></TimeslotSelector>
          </q-card-section>
          <!-- Reviews -->
          <RestaurantRatings :id="props.restaurantId" />
        </q-card>
      </div>
      <!-- display a spinner while content is being loaded -->
      <div v-else class="flex flex-center">
        <q-spinner color="primary" size="6em" />
      </div>
    </div>
  </div>
</template>
