<script setup lang="ts">
import { useRatings } from "@/services/RatingService";

const props = defineProps<{
  id: string;
}>();

const ratings = useRatings(props.id);
</script>

<template>
  <div class="q-pa-md">
    <div class="text-h6">Reviews</div>
    <q-virtual-scroll
      :items="ratings"
      separator
      v-slot="{ item: rating, index }"
    >
      <q-item :key="index">
        <q-item-section avatar>
          <q-avatar color="primary" text-color="white">
            {{ rating.name.toUpperCase().charAt(0) }}
          </q-avatar>
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ rating.name }}</q-item-label>
          <q-item-label caption>{{ rating.text }}</q-item-label>
        </q-item-section>
        <q-item-section>
          <q-rating
            color="orange"
            icon="star_outline"
            icon-selected="star"
            no-dimming
            v-model="rating.stars"
            max="5"
            size="xs"
            readonly
          />
        </q-item-section>
      </q-item>
    </q-virtual-scroll>
  </div>
</template>
