<script setup lang="ts">
const props = defineProps({
  icon: {
    required: true,
    type: String,
  },
  text: {
    required: true,
    type: String,
  },
  subtitle: {
    required: false,
    type: String,
  },
  link: {
    required: false,
    type: String,
  },
});
</script>

<template>
  <div class="row items-center text-body1">
    <q-icon :name="props.icon" color="primary" size="sm" :left="true" />
    <div class="col">
      <div v-if="props.link" class="flex">
        <a :href="props.link">
          {{ props.text }}
        </a>
      </div>
      <div v-else class="text">
        {{ props.text }}
      </div>
      <div v-if="props.subtitle" class="text-grey text-caption">
        {{ props.subtitle }}
      </div>
    </div>
  </div>
</template>
