<script setup lang="ts">
import { computed, ref } from "vue";
import {
  tomorrowAsString,
  nowAsString,
  parties,
  useTimesInOpeningHours,
  ISOStringToDateString,
  dateValid,
  useGetTimeslots,
} from "@/services/TimeslotService";
import { TableType } from "@/services/TimeslotService";
import TimeslotButtons from "./TimeslotButtons.vue";
import type { Restaurant } from "@/models/Restaurant";

const props = defineProps<{
  info: Restaurant;
}>();

const dateDialogShown = ref(false);

const dropdownDate = ref(tomorrowAsString());
const dropdownTime = ref(nowAsString());
const dropdownParty = ref(2);
const dropdownTables = ref("Any");

const dropdownTableOptions = ["Any", "Outside", "Window", "Wall", "Aisle"];
const dropdownTablesFormal = computed(() => {
  switch (dropdownTables.value) {
    case "Outside":
      return [TableType.OUTSIDE];
    case "Window":
      return [TableType.WINDOW];
    case "Wall":
      return [TableType.WALL];
    case "Aisle":
      return [TableType.AISLE];
    default:
      return [
        TableType.OUTSIDE,
        TableType.WALL,
        TableType.WINDOW,
        TableType.WALL,
        TableType.AISLE,
      ];
  }
});

const dropdownTimeOptions = useTimesInOpeningHours(
  dropdownDate,
  props.info.openingHours
);
const { timeslots, error } = useGetTimeslots(
  props.info.id,
  dropdownDate,
  dropdownTime,
  dropdownParty,
  dropdownTablesFormal
);
</script>

<template>
  <div class="row q-gutter-md q-pa-md justify-center">
    <q-select
      class="col-xs-12 col-sm-2"
      outlined
      v-model="dropdownParty"
      label="Party"
      :options="parties"
    />
    <q-select
      class="col-xs-12 col-sm-2"
      outlined
      v-model="dropdownTime"
      label="Time"
      :options="dropdownTimeOptions"
    />
    <q-btn
      class="col-xs-12 col-sm-2"
      outline
      @click="dateDialogShown = !dateDialogShown"
      no-caps
      :ripple="false"
    >
      <div class="col">
        <div
          class="text-left text-caption text-grey-8"
          style="margin-bottom: -3px"
        >
          Date
        </div>
        <div class="text-left text-grey-10" style="margin-bottom: -1px">
          {{ ISOStringToDateString(dropdownDate) }}
        </div>
      </div>
      <q-icon
        name="arrow_drop_down"
        color="grey-7"
        style="margin-right: -4px"
      />
      <q-dialog v-model="dateDialogShown">
        <q-date
          v-model="dropdownDate"
          mask="YYYY-MM-DD"
          :options="dateValid"
          first-day-of-week="1"
        ></q-date>
      </q-dialog>
    </q-btn>
    <q-select
      class="col-xs-12 col-sm-2"
      outlined
      v-model="dropdownTables"
      label="Location"
      :options="dropdownTableOptions"
    />
  </div>
  <TimeslotButtons
    v-if="dropdownTimeOptions"
    :info="info"
    :timeslots="timeslots"
    :party="dropdownParty"
    :error="error"
  ></TimeslotButtons>
  <div v-else>No timeslots available for that date.</div>
</template>

<style scoped>
.q-btn--outline::before {
  border: 1px solid rgba(0, 0, 0, 0.24);
  transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}
.q-btn--outline:hover::before {
  border-color: #000;
}
.q-focus-helper::after {
  background: white;
}
</style>
