<script setup lang="ts">
import { ref } from "vue";
import type Ref from "vue";
import ContactForm from "./ContactForm.vue";
import { ISOStringToTimeString } from "@/services/TimeslotService";
import type { Timeslot } from "@/models/Timeslot";
import type { Restaurant } from "@/models/Restaurant";

const props = defineProps<{
  info: Restaurant;
  timeslots: Array<Timeslot>;
  party: number;
  error: string;
}>();

const reserveDialogShown = ref(false);

const selectedTimeslot: Ref.Ref<Timeslot | null> = ref(null);
function showReserveDialog(n: number) {
  if (n < props.timeslots.length) {
    selectedTimeslot.value = props.timeslots[n];
    reserveDialogShown.value = true;
  }
}

function getDisplayText(n: number) {
  if (n < props.timeslots.length) {
    return ISOStringToTimeString(props.timeslots[n].time);
  } else {
    return "";
  }
}
</script>

<template>
  <div v-if="error" class="text-body1 text-center q-pa-md">
    {{ "Something went wrong. Reason: " + error }}
  </div>
  <div v-if="timeslots.length == 0" class="text-body1 text-center q-pa-md">
    {{
      "No tables for " +
      party +
      " people are available around the time you selected. Please change your search parameters to find a table."
    }}
  </div>
  <div v-else class="row q-pa-md q-gutter-md justify-center">
    <q-btn
      v-for="n in timeslots.length"
      :key="n - 1"
      class="col-3"
      outline
      no-caps
      text-color="primary"
      :disable="n - 1 >= timeslots.length"
      @click="showReserveDialog(n - 1)"
    >
      {{ getDisplayText(n - 1) }}
    </q-btn>
  </div>
  <q-dialog v-if="selectedTimeslot" v-model="reserveDialogShown">
    <ContactForm
      :info="props.info"
      :party="party"
      :datetime="selectedTimeslot.time"
      :table="selectedTimeslot.table.tableNumber"
      :close="() => (reserveDialogShown = false)"
    ></ContactForm>
  </q-dialog>
</template>
