<script setup lang="ts">
import { RouterView } from "vue-router";
import { SideSheetService } from "@/services/SideSheetService";
import router from "@/router/index";
import { computed } from "@vue/reactivity";

const leftSheetOpen = SideSheetService.leftSheetOpen;
const rightSheetOpen = SideSheetService.rightSheetOpen;

const isHomepage = computed(
  () => router.currentRoute.value.name != "restaurant-list"
);
</script>

<template>
  <nav class="">
    <div v-if="isHomepage">
      <q-btn round flat icon="arrow_back" @click="router.back()" />
    </div>
    <h6 style="margin-left: 20px">Kemperverse&trade; Reservation System</h6>
  </nav>
  <div
    class="main"
    :class="{
      'grid-left-visible': leftSheetOpen,
      'grid-right-visible': rightSheetOpen,
    }"
  >
    <div
      class="overlay"
      :class="{ visible: leftSheetOpen || rightSheetOpen }"
      @click="leftSheetOpen = rightSheetOpen = false"
    ></div>
    <router-view />
  </div>
</template>

<style>
@import "@/assets/base.css";

html{
  overflow-x: hidden;
}
#app {
  width: 100%;

  font-weight: normal;
}

nav {
  display: flex !important;
  width: 100%;
  height: 60px;
  padding: 10px 16px;
  align-items: center;
  background: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1010;
  border-bottom: 1px solid #eeeeee;
}

.main {
  padding-top: 60px;
  position: relative;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0;
}

.grid-left {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-center {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-right {
  grid-area: 1 / 3 / 2 / 4;
}

.grid-left,
.grid-center,
.grid-right {
  padding: 16px;
}

@media (min-width: 1601px) {
  .right-sheet-toggle {
    display: none !important;
  }
}

@media (min-width: 1001px) {
  .left-sheet-toggle {
    display: none !important;
  }
}

@media (max-width: 1600px) {
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 100000;
    pointer-events: none;
    transition: 200ms background;
  }
  .overlay.visible {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.4);
  }
  .main-grid {
    grid-template-columns: 1fr 70% 0fr;
  }
  .main-grid.keep-right {
    grid-template-columns: 1fr 70% 1fr;
  }
  .main-grid .grid-right {
    position: fixed;
    top: 0;
    width: 90%;
    max-width: 400px;
    height: 100%;
    right: -400px;
    z-index: 102;
    transform: translateX(0);
    background: #ffffff;
    transition: 200ms transform;
  }

  .grid-right-visible .main-grid .grid-right {
    transform: translateX(-400px);
  }
}

@media (max-width: 1000px) {
  .main-grid {
    grid-template-columns: 0fr 100% 0fr !important;
  }
  .main-grid .grid-left {
    position: fixed;
    top: 0;
    width: 90%;
    max-width: 400px;
    height: 100%;
    z-index: 102;
    transform: translateX(0);
    background: #ffffff;
    transition: 200ms transform;
  }
  .main-grid .grid-left {
    left: -400px;
    z-index: 100000;
  }
  .grid-left-visible .main-grid .grid-left {
    transform: translateX(400px);
  }
}


.q-rating__icon{
  text-shadow: none !important;
}
</style>
